__pycache__/
*.py[cod]
dist/
sdist/
env/
build/
develop-eggs/
eggs/
*.egg-info/
.installed.cfg
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
library/debian/
packaging/*tar.xz
pip-log.txt
pip-delete-this-directory.txt
